.App {
  background: black;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://cdn3.f-cdn.com/contestentries/1600316/36114675/5d7d05a86d10a_thumb900.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}


.items {
  background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-pizza-burger-fast-food-hand-drawn-lineart-background-picture-image_1273999.jpg");
  background: whitesmoke;
  transition: transform 0.2s ease;
  overflow: hidden;
  width: 18rem;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin: 2rem;
  padding: 1rem;
}

.items:hover {
  transform: scale(1.1);
}


.movie-img {
  height: 21rem;
  width: 18rem;
  object-fit: cover;
}

.img{
  height:100vh;
  background-image: url("https://t4.ftcdn.net/jpg/02/80/76/25/360_F_280762521_j1sQEgHTmtfoUcAEgoPt1gdBu6yinZQN.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.menu-bar {
  
  display: flex;
  flex-direction: row;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem; */
}

.pizza-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.home-page{
  cursor: pointer;
}

.home-page{
  display: flex;
  flex-flow: column;
  color: white;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-end;
}





.App {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: stretch;
  align-items: baseline;
  border: 6px double white;
  border-radius: 2rem;
  padding: 1rem;
  overflow: auto;
  color: white;
  max-width: 65rem;
}
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
}

 h1{
   color: rgb(225, 230, 225);
   text-align: center;
 }

.status-and-tasks-grid {
  border-radius: 1rem;
  border-right: 0px solid white;
  border-left: px solid white;
  padding: 0rem 1rem 1rem 1rem;
}
.addTask {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  padding-bottom: 2rem;
  margin: 0rem 1rem 0rem 0rem;
}
.addTask > button {
  background: green;
  color: white;
}

.taskStatus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  justify-content: start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.taskStatus > button:nth-child(1) {
  background: gold;
  color: black;
}
.taskStatus > button:nth-child(2) {
  background: red;
  color: white;
}
.taskStatus > button:nth-child(3) {
  background: rgb(153, 102, 54);
  color: rgb(255, 255, 255);
}
.taskStatus > button:nth-child(4) {
  background: rgb(9, 67, 100);
  color: white;
}
.taskStatus > button:nth-child(5) {
  background: rgb(0, 128, 128);
  color: white;
}
.taskStatus > button:nth-child(6) {
  background: green;
  color: white;
}
.tasks {
  padding: 0rem 0rem 1rem 0rem;
}